<html>
<head>
<title>Conversacion - <%=cid%></title>
</head>
<script type="text/javascript">
xmlhttp=new XMLHttpRequest();
function enviarMensaje(){
	var declaracion=document.getElementsByName("declaracion")[0];
	var tipo=document.getElementsByName("tipo")[0];
	var respuestas=document.getElementsByName("respuestas")[0];
	var origen=document.getElementsByName("origen")[0];
	xmlhttp.open("POST","/crear/<%=cid%>",true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xmlhttp.send(declaracion.name+"="+declaracion.value+"&"+tipo.name+"="+tipo.value+"&"+respuestas.name+"="+respuestas.value+"&"+origen.name+"="+origen.value);
	return false;
}

xmlhttp.onreadystatechange=function(){
	if(xmlhttp.readyState==4 && xmlhttp.status==200){
		document.getElementById("estado").innerHTML="Mensaje Agregado exitosamente";
		document.getElementsByName("origen")[0].innerHTML=xmlhttp.responseText;
		document.getElementsByName("declaracion")[0].value="";
		document.getElementsByName("respuestas")[0].value="";
	}else if(xmlhttp.readyState==4 && xmlhttp.status!=200){
		document.getElementById("estado").innerHTML="Intente de nuevo que ha ocurrido un error "+xmlhttp.status;
	}
}

</script>
<body>
<form action="/crear/<%=cid%>" name="pregunta" method="post" onsubmit="return enviarMensaje()">
<input type="textbox" name="declaracion" placeholder="Digitar mensaje..." size="50"/><br/>
Tipo de respuestas: <select name="tipo"><option value="abcd">a, b, c o d</option><option value="FREE">Respuesta libre</option><option value="MS">Seleccion Multiple</option></select></br>
<textarea name="respuestas" placeholder="Digitar potenciales respuestas por linea..." cols="50"></textarea><br/>
<select name="origen">
<option value=""></option>
<%
mensajes.each do |mensaje|
%>
<option value="m<%=mensaje[0]%>"><%=mensaje[2]%></option>
<%
respuestas.data_seek(0)
respuestas.each do |respuesta|
if respuesta[1] == mensaje[0]
%>
<option value="r<%=respuesta[0]%>">&nbsp;&nbsp;<%=respuesta[2]%></option>
<%
end
end
end
%>
</select><br/>
<input type="submit" value="Guardar declaracion" /><input type="reset" value="Cancelar" /><br/>
<p><label id="estado"></label></p>
Cuando termine de construir la conversacion, copie el siguiente link y envie al receptor:<br/>
<input type="text" value="<%=link%>" readonly size="50"/>
</form>
</body>
</html>
