<html>
<head>
<style type="text/css">
#receptor{
	color: #0000FF;
}
</style>
<title>Respondiendo conversacion</title>
<script type="text/javascript">
var respuestaseleccionada = "";
function seleccionarRespuesta(e){
	for(var i = 0; i < document.getElementsByTagName("button").length; i++){
		document.getElementsByTagName("button")[i].disabled = false;
	}
	respuestaseleccionada = e.value;
	e.disabled = true;
	document.getElementsByTagName("textarea")[0].disabled = false;
	document.getElementsByTagName("textarea")[0].focus();
}
xmlhttp=new XMLHttpRequest();
function responder(){
	var texto=document.getElementsByTagName("textarea")[0];
	xmlhttp.open("POST","/responder",true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	var tipo = document.getElementsByName("tipo")[0];
	var conversacion=document.getElementById("conversacion");	
	if(tipo.value != "MS"){
		xmlhttp.send("texto="+texto.value+"&respuesta="+respuestaseleccionada+"&mensajeid="+document.getElementsByName("mensajeid")[0].value+"&tipo="+tipo.value);
		conversacion.innerHTML+="<br/><label id='receptor'>"+texto.value+"</label>";
		document.getElementsByTagName("textarea")[0].disabled = true;
		document.getElementsByTagName("textarea")[0].value = "";
	}else{
		var cajas = document.getElementsByName("checkbox[]");
		var cadena = "";
		var cadena2 = "<br/><label id='receptor'>";
		for(var i=0; i<cajas.length; i++){
			if(cajas[i].checked){
			cadena += "respuesta[]="+cajas[i].value+"&texto[]="+document.getElementById(cajas[i].value).innerHTML+"&";
			cadena2+=document.getElementById(cajas[i].value).innerHTML+" ";
			}
		}
		xmlhttp.send(cadena+"mensajeid="+document.getElementsByName("mensajeid")[0].value+"&tipo="+tipo.value);
		conversacion.innerHTML+=cadena2+"</label>";
		
	}
	
	return false;
}

xmlhttp.onreadystatechange=function(){
	if(xmlhttp.readyState==4 && xmlhttp.status==200){
		document.getElementById("contenidoactualizado").innerHTML = xmlhttp.responseText;
		var conversacion=document.getElementById("conversacion");
		conversacion.innerHTML+="<br/><label id='emisor'>"+document.getElementsByName("mensaje")[0].value+"</label>";
	
	}else if(xmlhttp.readyState==4 && xmlhttp.status!=200){
		alert("Intente de nuevo que ha ocurrido un error "+xmlhttp.status);
	}
}

</script>
</head>
<body>
<div id="conversacion" style="background-color: #ECECEC; width: 30%; height: 60%">
<label id='emisor'><%=mensaje%></label>
</div>
<form name="respuestas" method="post" action="/responder" onsubmit="return responder()">
<label id="contenidoactualizado">
<input type="hidden" value="<%=mensajeid%>" name="mensajeid"/>
<input type="hidden" value="<%=tipo%>" name="tipo"/>
<%
respuestas.each do |respuesta| 
if tipo == "MS"
%>
<input type="checkbox" value="<%=respuesta[0]%>" name="checkbox[]"/><label id="<%=respuesta[0]%>" for="<%=respuesta[0]%>"><%=respuesta[2]%></label>
<%
else
%>
<button type="button" value="<%=respuesta[0]%>" onclick="seleccionarRespuesta(this)"><%=respuesta[2]%></button>
<%
end
end
%>
</label>
<br />
<textarea name="texto" disabled="true"></textarea>
<input type="submit" value="Continuar" />
</form>
</body>
</html>
